<% provide(:title, "予約履歴一覧") %>

<div class="entries-index">
  <h2>予約履歴一覧</h2>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>

  <%= search_form_for @q, url: user_search_entries_path(current_user.id) do |f| %>
    <section>
      <p>検索フォーム</p>
      <div class="text-search-sections">
        <span>イベント名、または開催地を入力して検索する</span>
        <div class="search-field">
          <%= f.label :event_title_cont, "イベント名で検索", class: "label-item" %>
          <%= f.search_field :event_title_cont, type: "search", class: "form-control", placeholder: "例: 練習試合" %>
        </div>

        <div class="search-field">
          <%= f.label :event_address_cont, "都道府県で検索", class: "label-item" %>
          <%= f.search_field :event_address_cont, type: "search", class: "form-control", placeholder: "例: 大阪府" %>
        </div>
      </div>

      <div class="date-search-sections">
        <span>開催日から検索する</span>
        <div class="search-field">
          <%= f.label :event_start_time_gteq, "開催日で検索", class: "label-item" %>
          <%= f.date_field :event_start_time_gteq, include_blank: true, class: "form-control me-2" %>から
          <%= f.date_field :event_start_time_lteq_end_of_day, include_blank: true, class: "form-control me-2" %>まで
        </div>
      </div>

      <div class="search-actions">
        <%= f.submit "Search", class: "btn btn-primary" %>
      </div>
    </section>
  <% end %>

  <p>予約履歴一覧</p>
  <table>
    <thead>
      <tr>
        <th class="entry-item">開催日時</th>
        <th class="entry-item">イベント名</th>
        <th class="entry-item">イベント概要</th>
        <th class="entry-operation">イベント詳細</th>
      </tr>
    </thead>

    <tbody>
      <% @entries.each do |f| %>
        <tr>
          <td class="entry-item"><%= f.event.start_time.to_s(:datetime_jp) %> ~ </td>
          <td class="entry-item"><%= f.event.title %></td>
          <td class="entry-item"><%= f.event.introduction %></td>
          <td class="entry-operation"><%= link_to "詳細", user_entry_path(current_user.id, f.id), class: "btn btn-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @entries %>
  <div class="mypage-link">
    <%= link_to "マイページ", user_path(current_user.id) %>
  </div>
</div>
