<% provide(:title, "予約履歴") %>
<h1>予約履歴</h1>

<table>
  <thead>
    <tr>
      <th>イベント名</th>
      <th>イベント概要</th>
      <th>開催場所</th>
      <th>予約確定日時</th>
      <th>イベント詳細</th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |f| %>
      <tr>
        <td><%= f.event.title %></td>
        <td><%= f.event.introduction %></td>
        <td><%= f.event.address %></td>
        <td><%= f.updated_at %></td>
        <td><%= link_to "予約内容の詳細", user_entry_path(current_user.id, f.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
