<% provide(:title, "予約履歴一覧（検索結果）") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="entries-index">
      <h2>予約履歴一覧（検索結果）</h2>

      <table>
        <thead>
          <tr>
            <th class="entry-item">開催日時</th>
            <th class="entry-item">イベント名</th>
            <th class="entry-item">イベント概要</th>
            <th class="entry-operation">イベント詳細</th>
          </tr>
        </thead>

        <tbody>
          <% @result.each do |f| %>
            <tr>
              <td class="entry-item"><%= f.event.start_time.to_s(:datetime_jp) %> ~ </td>
              <td class="entry-item"><%= f.event.title %></td>
              <td class="entry-item"><%= f.event.introduction %></td>
              <td class="entry-operation"><%= link_to "詳細", user_entry_path(current_user.id, f.id), class: "btn btn-primary" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= link_to "予約履歴一覧画面に戻る", user_entries_path(current_user.id), class: "entries-index-url" %>

    </div>
  </div>
</div>
