<% provide(:title, "予約内容") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="entry-section">
      <h2>予約内容</h2>
      <div class="entry-image">
        <%= image_tag("#{@event.event_icon}") %>
      </div>
      <table class="entry-more">
        <thead>
          <tr>
            <th>イベントタイトル</th>
            <td><%= @event.title %></td>
          </tr>
          <tr>
            <th>イベント概要</th>
            <td><%= @event.introduction %></td>
          </tr>
          <tr>
            <th>開催日時</th>
            <td><%= @event.start_time.to_s(:datetime_jp) %> ~ <%= @event.end_time.to_s(:datetime_jp) %></td>
          </tr>
          <tr>
            <th>開催場所</th>
            <td><%= @event.address %></td>
          </tr>
          <tr>
            <th>Googleマップ</th>
            <td>
              <div id="map" data-lat-id="<%= @event.latitude %>" data-lng-id="<%= @event.longitude %>"></div>
              <p><%= link_to "Googleマップで見る" ,"https://maps.google.co.jp/maps?q=loc:#{@event.latitude},#{@event.longitude}&iwloc=J", target: "_blank" %></p>
            </td>
          </tr>
          <tr>
            <th>申込者のお名前</th>
            <td><%= @entry.entry_name %></td>
          </tr>
          <tr>
            <th>参加者の人数</th>
            <td><%= @entry.entry_count %> 人</td>
          </tr>
          <tr>
            <th>参加料金</th>
            <td><%= @entry.entry_price %> 円</td>
          </tr>
        </thead>
      </table>
      <div class="actions">
        <%= link_to "このイベントをキャンセルする", user_entry_path(current_user.id, @entry.id), method: :delete, data: { confirm: "イベントをキャンセルします。よろしいですか?" }, class: "btn btn-danger" %>
      </div>
      <div class="entry-index-link">
        <%= link_to "予約一覧ページに戻る", user_entries_path(current_user.id) %>
      </div>
      <h1>Posts#index</h1>
      <p>Find me in app/views/posts/index.html.erb</p>
      <table>
        <thead>
          <tr>
            <th>件名</th>
            <th>投稿内容</th>
          </tr>
        </thead>

        <tbody>
          <% @posts.each do |f| %>
            <tr>
              <td><%= f.subject %></td>
              <td><%= f.comment %></td>
            <tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @posts %>
    </div>
  </div>
</div>
