<% provide(:title, "ユーザログイン") %>

<div class="sign-form">
  <h2>Login</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render 'layouts/notification' %>

    <div class="field">
      <%= f.label :email, class: "label-item" %><br />
      <%= f.email_field :email, autofocus: true, placeholder: "e-mail" %>
    </div>

    <div class="field">
      <%= f.label :password, class: "label-item" %><br />
      <%= f.password_field :password, placeholder: "password" %>
    </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-primary" %>
    </div>
  <% end %>
  <div class="account-list">
    <div class="account1">
      <p>ゲストアカウント1（一般）</p>
      <ul>
        <li>MAIL: anakin1359@gmail.com</li>
        <li>PW: password01</li>
      </ul>
    </div>
    <div class="account2">
      <p>ゲストアカウント2（管理）</p>
      <ul>
        <li>MAIL: admin@example.com</li>
        <li>PW: password0#</li>
      </ul>
    </div>
  </div>
  <%= link_to "アカウントを登録する", new_user_registration_path %>
</div>
