<% provide(:title, "イベント編集") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="event-form">
      <h2>イベント編集</h2>
      <%= form_for(@event) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <div class="event-field">
          <%= image_tag("#{@event.event_icon}", class: "event-icon") %>
        </div>

        <div class="event-field">
          <%= f.label :title, "イベント名" %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>

        <div class="event-field">
          <%= f.label :introduction, "イベント概要" %>
          <%= f.text_area :introduction, type: "textarea", class: 'form-control' %>
        </div>

        <div class="event-field">
          <%= f.label :start_time, "開始日" %>
          <%= f.datetime_field :start_time, class: 'form-control' %>
        </div>

        <div class="event-field">
          <%= f.label :end_time, "終了日" %>
          <%= f.datetime_field :end_time, class: 'form-control' %>
        </div>

        <div class="event-field">
          <%= f.label :entry_count, "募集人数" %>
          <%= f.number_field :entry_count, class: 'form-control' %>
        </div>

        <div class="event-field">
          <%= f.label :event_price, "料金" %>
          <%= f.number_field :event_price, class: 'form-control' %>
        </div>

        <div class="event-field">
          <%= f.label :address, "開催場所" %>
          <%= f.text_field :address, class: 'form-control' %>
        </div>

        <div class="event-field">
          <%= f.label :event_icon, "イベントアイコン" %>
          <%= f.file_field :event_icon, class: 'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit "イベントを変更する", class: "btn btn-primary" %>
        </div>

      <% end %>
    </div>
  </div>
</div>
