<% provide(:title, "登録済みイベント一覧") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="events-index">
      <h2>登録済みイベント一覧</h2>

      <%= search_form_for @q, url: search_events_path do |f| %>

        <%= f.label :title_cont, "イベント名で検索する" %>
        <%= f.search_field :title_cont, type: "search", class: "form-control" %>

        <%= f.label :address_cont, "都道府県で検索する" %>
        <%= f.search_field :address_cont, type: "search", class: "form-control" %>

        <%= f.label :start_time_gteq, "開催日時で検索する" %>
        <%= f.date_field :start_time_gteq, include_blank: true, class: "form-control" %>
        <%= f.date_field :start_time_lteq_end_of_day, include_blank: true, class: "form-control" %>

        <div class="actions"><%= f.submit "検索" %></div>
      <% end %>

      <%= paginate @events %>

      <table>
        <thead>
          <tr>
            <th class="event-item">開催日時</th>
            <th class="event-item">イベント名</th>
            <th class="event-item">イベント概要</th>
            <th class="event-operation">操作</th>
            <th colspan="2" class="event-operation">操作（管理者）</th>
          </tr>
        </thead>

        <tbody>
          <% @events.each do |f| %>
            <tr>
              <td class="event-item"><%= f.start_time.to_s(:datetime_jp) %> ~ </td>
              <td class="event-item"><%= f.title %></td>
              <td class="event-item"><%= f.introduction %></td>
              <td class="event-operation"><%= link_to "詳細", user_event_path(current_user.id, f.id), class: "btn btn-primary" %></td>
              <td class="event-operation"><%= link_to "編集", edit_event_path(f.id), class: "btn btn-success" %></td>
              <td class="event-operation"><%= link_to "削除", f, method: :delete, data: { confirm: "イベントを削除します。よろしいですか?" }, class: "btn btn-danger" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate @events %>

      <div class="mypage-link">
        <%= link_to "マイページ", user_path(current_user.id) %>
      </div>

    </div>
  </div>
</div>
