<% provide(:title, "登録済みイベント一覧") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="events-index">
      <h2>登録済みイベント一覧</h2>
      <table>
        <thead>
          <tr class="index-title">
            <th class="event-item">開催日時</th>
            <th class="event-item">イベント名</th>
            <th class="event-item">イベント概要</th>
            <th class="event-operation">操作</th>
            <th colspan="2" class="event-operation">操作（管理者）</th>
          </tr>
        </thead>

        <tbody>
          <% @events.each do |f| %>
            <tr>
              <td class="event-item"><%= f.start_date.to_s(:datetime_jp) %> ~ </td>
              <td class="event-item"><%= f.title %></td>
              <td class="event-item"><%= f.introduction %></td>
              <td class="event-operation"><%= link_to "詳細", user_event_path(current_user.id, f.id), class: "btn btn-primary" %></td>
              <td class="event-operation"><%= link_to "編集", edit_event_path(f.id), class: "btn btn-success" %></td>
              <td class="event-operation"><%= link_to "削除", f, method: :delete, data: { confirm: "イベントを削除します。よろしいですか?" }, class: "btn btn-danger" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
