<% provide(:title, "登録済みイベント一覧") %>
<h1>登録済みイベント一覧</h1>

<table>
  <thead>
    <tr>
      <th>イベント名</th>
      <th>イベント概要</th>
      <th>開始日時</th>
      <th>終了日時</th>
      <th>参加者の人数（上限値）</th>
      <th>料金</th>
      <th>開催場所</th>
      <th>イベント更新</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |f| %>
      <tr>
        <td><%= link_to f.title, edit_event_path(f.id) %></td>
        <td><%= f.introduction %></td>
        <td><%= f.start_date %></td>
        <td><%= f.end_date %></td>
        <td><%= f.entry_count %> 人</td>
        <td><%= f.event_price %> 円</td>
        <td><%= f.address %></td>
        <td><%= link_to "更新", '#' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
